<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    {% include analytics.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>

            {% include share.html %}
            {% include author.html %}
            {% include comments.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
